Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add spellchecking
  .cspell.json
  .github/workflows/ci.yml
  README.md
  cz-adapter/engine.ts
  docs/rules/no-conditional-statement.md
  package.json
  src/rules/no-mixed-type.ts
  src/util/conditional-imports/tsutils.ts
  tests/rules/immutable-data/es3/object/invalid.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(prefer-tacit): disable prefer-tacit by default in recommended and lite configs
  src/configs/functional.ts
Due: prettier --write, eslint --fix

style: fix linting rules
  .eslintrc.json
  cz-adapter/engine.ts
  package.json
  scripts/.eslintrc.json
  scripts/compile-tests.ts
  src/common/ignore-options.ts
  src/rules/no-conditional-statement.ts
  tests/common/ignore-options.test.ts
  tests/configs.test.ts
  tests/helpers/configs.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  tests/index.test.ts
  tests/rules/index.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update husky
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

chore: switch testing over to ava
  .vscode/launch.json
Due: prettier --write

ci: remove fail fast
  .github/workflows/ci.yml
Due: prettier --write

style: improve linting
  tests/common/ignore-options.test.ts
  tests/rules/functional-parameters/es3/invalid.ts
  tests/rules/functional-parameters/es3/valid.ts
  tests/rules/functional-parameters/es6/invalid.ts
  tests/rules/functional-parameters/es6/valid.ts
  tests/rules/immutable-data/es3/array/invalid.ts
  tests/rules/immutable-data/es3/array/valid.ts
  tests/rules/immutable-data/es3/object/invalid.ts
  tests/rules/immutable-data/es3/object/valid.ts
  tests/rules/immutable-data/es6/array/valid.ts
  tests/rules/immutable-data/es6/object/invalid.ts
  tests/rules/immutable-data/es6/object/valid.ts
  tests/rules/no-conditional-statement/es3/invalid.ts
  tests/rules/no-conditional-statement/es3/valid.ts
  tests/rules/no-conditional-statement/ts/valid.ts
  tests/rules/no-expression-statement/es3/invalid.ts
  tests/rules/no-expression-statement/es3/valid.ts
  tests/rules/no-expression-statement/ts/valid.ts
  tests/rules/no-let/es6/invalid.ts
  tests/rules/no-let/es6/valid.ts
  tests/rules/no-method-signature/ts/invalid.ts
  tests/rules/no-method-signature/ts/valid.ts
  tests/rules/no-mixed-type/ts/invalid.ts
  tests/rules/no-mixed-type/ts/valid.ts
  tests/rules/no-promise-reject/es6/invalid.ts
  tests/rules/no-promise-reject/es6/valid.ts
  tests/rules/no-return-void/ts/invalid.ts
  tests/rules/no-return-void/ts/valid.ts
  tests/rules/no-throw-statement/es3/invalid.ts
  tests/rules/prefer-readonly-type/ts/valid.ts
  tests/rules/prefer-tacit/es6/invalid.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts/valid.ts
Due: prettier --write, eslint --fix

build(deps, deps-dev): update dependencies and dev-dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: setup semantic-release
  .auto-changelog
  .github/settings.yml
  .github/workflows/release.yml
  .releaserc
  README.md
  package.json
Due: prettier --write

chore: add markdown linting
  .markdownlint.json
  .markdownlintignore
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: improve test-work script and add test compiled
  ava.config.js
  package.json
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix

chore: update minimum required node version to 12
  .github/workflows/ci.yml
  package.json
  rollup.config.js
  src/common/ignore-options.ts
  src/rules/prefer-readonly-type.ts
  src/util/rule.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: lint markdown when commiting
  .lintstagedrc
Due: none

refactor: seperate out overrides into its own var
  src/configs/functional-lite.ts
Due: prettier --write, eslint --fix

refactor: add isReadonlyArray type guard
  src/common/ignore-options.ts
  src/util/typeguard.ts
Due: prettier --write, eslint --fix

chore: prevent package-lock file from being created
  .npmrc
Due: none

feat: add stylistic rules to lite and recommended rule sets
  README.md
  src/configs/functional.ts
Due: prettier --write, eslint --fix

chore: setup commitizen with custom adapter
  .czrc
  .eslintrc.json
  .vscode/settings.json
  cz-adapter/.eslintrc.json
  cz-adapter/engine.ts
  cz-adapter/index.js
  cz-adapter/index.ts
  cz-adapter/options.ts
  cz-adapter/tsconfig.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(cz-adapter): only ask if breaking for certain types of changes
  cz-adapter/engine.ts
Due: prettier --write, eslint --fix

chore: remove unneeded incompatible dev-dependencies
  .github/workflows/ci.yml
Due: prettier --write

style: fix markdown linting
  .eslintrc.json
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-class.md
  docs/rules/no-conditional-statement.md
  docs/rules/no-expression-statement.md
  docs/rules/no-let.md
  docs/rules/no-loop-statement.md
  docs/rules/no-method-signature.md
  docs/rules/no-mixed-type.md
  docs/rules/no-promise-reject.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expression.md
  docs/rules/no-throw-statement.md
  docs/rules/no-try-statement.md
  docs/rules/options/ignore-pattern.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  package.json
  yarn.lock
Due: prettier --write

chore: add formatting scripts
  package.json
Due: prettier --write

chore: setup commit message linting
  .commitlintrc.js
  .huskyrc
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: rename the test tsconfig file to avoid ides using it as an actual tsconfig file
  scripts/compile-tests.ts
  tests/helpers/configs.ts
  tests/helpers/test-tsconfig.json
Due: prettier --write, eslint --fix

chore: install husky on prepare instead of on postinstall
  package.json
Due: prettier --write

chore: set up new linting rules
  .eslintrc.json
  package.json
  src/util/conditional-imports/.eslintrc.json
  tests/.eslintrc.json
  yarn.lock
Due: prettier --write

chore: minor cleanup
  .editorconfig
  .eslintrc.json
  .gitignore
  .lintstagedrc
  .prettierignore
  .vscode/settings.json
  ava.config.cjs
  ava.config.ts
  cz-adapter/options.ts
  rollup.config.cjs
  rollup.config.ts
  src/rules/prefer-tacit.ts
  tests/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

test: temporary fix to get tests working
  tests/helpers/configs.ts
Due: prettier --write, eslint --fix

test: improve config tests output
  tests/configs.test.ts
Due: prettier --write, eslint --fix

chore: improve performance of cz-adapter
  cz-adapter/index.js
Due: none

ci: remove the settings app in favor of the action-label-syncer
  .github/labels.yml
  .github/settings.yml
  .github/workflows/labels.yml
Due: prettier --write

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  173ed4a50cdec09baace3a109670d03cd0c1fea8
Due: none

chore: update lint rules
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

refactor: create and use util function "isDefined"
  src/common/ignore-options.ts
  src/rules/prefer-tacit.ts
  src/util/tree.ts
  src/util/typeguard.ts
Due: prettier --write, eslint --fix

fix: ignore pattern - "id" and "key" values are only used if defined
  src/common/ignore-options.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.{md,json,jsonc,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
