Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  f1538f1db491bcaecd91872c05f76c9b327f250f
Due: none

fix: off config no longer contains "overrides"
  src/configs/off.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix

fix: get the coorect identifier text of values in object expressions
  src/common/ignore-options.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/rules/functional-parameters/es6/valid.ts
Due: prettier --write, eslint --fix

test: fix work test not running using F5
  ava.config.ts
Due: prettier --write, eslint --fix

test: fix work test not running using F5 (#284)
  ava.config.ts
Due: prettier --write, eslint --fix

fix: get the coorect identifier text of values in object expressions (#285)
  src/common/ignore-options.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/rules/functional-parameters/es6/valid.ts
Due: prettier --write, eslint --fix

fix: off config no longer contains "overrides" (#286)
  src/configs/off.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  8f24eb3cad206f53732859787de9a4729921a900
Due: none

test(functional-parameters): ignore pattern only ignores specified patterns in an object expression
  tests/rules/functional-parameters/es6/invalid.ts
Due: prettier --write, eslint --fix

chore: fixup eslintrc and use off config
  .eslintrc.json
  cz-adapter/.eslintrc.json
Due: prettier --write

feat(no-let): add option to allow lets inside of for loop initializers
  docs/rules/no-let.md
  src/rules/no-let.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/rules/no-let/es6/valid.ts
Due: prettier --write, eslint --fix

feat(no-let): add option to allow lets inside of for loop initializers (#306)
  docs/rules/no-let.md
  src/rules/no-let.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/rules/no-let/es6/valid.ts
Due: prettier --write, eslint --fix

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b0aaf2c4ff77132ae9e3a9093cda0f9c9d73aa03
Due: none

ci: enable releasing beta releases from the next branch
  .github/labels.yml
  .releaserc
Due: prettier --write

chore: fix wording of label "Type: Idea"'s description
  .github/labels.yml
Due: prettier --write

chore: add label for waiting for feedback
  .github/labels.yml
Due: prettier --write

chore: add label for waiting for feedback (#309)
  .github/labels.yml
Due: prettier --write

chore: fix wording of label "Type: Idea"'s description (#308)
  .github/labels.yml
Due: prettier --write

ci: enable releasing beta releases from the next branch (#307)
  .github/labels.yml
  .releaserc
Due: prettier --write

ci: fix next releases not running
  .github/workflows/release.yml
Due: prettier --write

fix: rules having broken links to docs
  .releaserc
  package.json
  src/util/rule.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 4.1.1-beta.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  3f6406c1b444db51f23c807dbce886b17568f20c
Due: none

fix: rules having broken links to docs (#310)
  .releaserc
  package.json
  src/util/rule.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 4.1.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  bac53a8cd66c94b25bb1b11f698ee8b0ea8dd629
Due: none

Add example of deleting an array element.
  docs/rules/immutable-data.md
Due: prettier --write

docs: add example of deleting an array element (#319)
  docs/rules/immutable-data.md
Due: prettier --write

docs: add line break
  docs/rules/immutable-data.md
Due: prettier --write

docs: update links to typescript-eslint
  README.md
  docs/rules/no-return-void.md
Due: prettier --write

docs(no-let): explain why for..in and for..of loops shouldn't use let
  docs/rules/no-let.md
Due: prettier --write

docs: disable eslint rules in docs where they are purposely broken
  docs/rules/no-let.md
  docs/rules/no-method-signature.md
Due: prettier --write

refactor: refactor the code base and update linting rules
  .eslintrc.json
  cz-adapter/engine.ts
  cz-adapter/options.ts
  docs/rules/functional-parameters.md
  package.json
  src/common/ignore-options.ts
  src/configs/off.ts
  src/index.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-class.ts
  src/rules/no-conditional-statement.ts
  src/rules/no-expression-statement.ts
  src/rules/no-let.ts
  src/rules/no-loop-statement.ts
  src/rules/no-method-signature.ts
  src/rules/no-mixed-type.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expression.ts
  src/rules/no-throw-statement.ts
  src/rules/no-try-statement.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/util/misc.ts
  src/util/rule.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/common/ignore-options.test.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(prefer-readonly-return-types): create new rule
  .eslintrc.json
  README.md
  docs/rules/prefer-readonly-return-types.md
  package.json
  src/common/ignore-options.ts
  src/configs/all.ts
  src/rules/index.ts
  src/rules/prefer-readonly-return-types.ts
  src/util/rule.ts
  tests/rules/prefer-readonly-return-types/index.test.ts
  tests/rules/prefer-readonly-return-types/ts/index.ts
  tests/rules/prefer-readonly-return-types/ts/invalid.ts
  tests/rules/prefer-readonly-return-types/ts/valid.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci: add action to close stale issues/prs
  .github/workflows/stale.yml
Due: prettier --write

ci: add action to close stale issues/prs (#320)
  .github/workflows/stale.yml
Due: prettier --write

ci: automatically apply the done label to issues closed by PRs
  .github/labels.yml
  .github/workflows/done-label.yml
Due: prettier --write

ci: automatically apply the done label to issues closed by PRs (#321)
  .github/labels.yml
  .github/workflows/done-label.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.{md,json,jsonc,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
