Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: ignore failed dedupe
  .github/workflows/dependabot.yml
Due: prettier --write

ci: fix commit comment
  .github/workflows/dependabot.yml
Due: prettier --write

build: fix yarn.lock [dependabot skip]
  yarn.lock
Due: none

ci: use latest yarn
  .github/workflows/dependabot.yml
Due: prettier --write

ci: adjust commit message
  .github/workflows/dependabot.yml
Due: prettier --write

fix(prefer-tacit): assign callee to a new variable when autofixing function declarations
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit/ts/invalid.ts
Due: prettier --write, eslint --fix

feat(prefer-tacit): support autofixing function calls with type parameters
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts/valid.ts
Due: prettier --write, eslint --fix

fix(prefer-tacit): only apply fixer for TS >= 4.7
  package.json
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit/index.test.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts/valid.ts
  tests/rules/prefer-tacit/ts4.7/index.ts
  tests/rules/prefer-tacit/ts4.7/invalid.ts
  tests/rules/prefer-tacit/ts4.7/valid.ts
  tests/rules/prefer-tacit/tsNot4.7/index.ts
  tests/rules/prefer-tacit/tsNot4.7/invalid.ts
  tests/rules/prefer-tacit/tsNot4.7/valid.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(prefer-tacit): support autofixing function calls with type parameters (#415)
  package.json
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit/index.test.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts4.7/index.ts
  tests/rules/prefer-tacit/ts4.7/invalid.ts
  tests/rules/prefer-tacit/ts4.7/valid.ts
  tests/rules/prefer-tacit/tsNot4.7/index.ts
  tests/rules/prefer-tacit/tsNot4.7/invalid.ts
  tests/rules/prefer-tacit/tsNot4.7/valid.ts
  yarn.lock
Due: prettier --write, eslint --fix

docs: correct typescript support symbol for prefer-tacit
  README.md
Due: prettier --write

build(dev-deps): bump ava from 4.0.1 to 4.3.3
  package.json
  yarn.lock
Due: prettier --write

build: fix yarn.lock [dependabot-skip]
  yarn.lock
Due: none

build(dev-deps): bump ava from 4.0.1 to 4.3.3 (#418)
  package.json
  yarn.lock
Due: prettier --write

build(dev-deps): update semantic-release and its plugins
  package.json
  yarn.lock
Due: prettier --write

build: don't use chalk 5
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  9056f4b0427310caf8128d1d4adca761bcd4f80f
Due: none

build: dedupe deps
  yarn.lock
Due: none

ci: use PAT to checkout repo for dependabot yarn lock fix
  .github/workflows/dependabot.yml
Due: prettier --write

ci: automerge after fix, don't run ci before fix
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot.yml
Due: prettier --write

ci: echo actor
  .github/workflows/ci.yml
Due: prettier --write

ci: fix dependabot for yarn 3
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot.yml
Due: prettier --write

chore(release): 4.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

chore: update renovate and dependabot
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot.yml
  renovate.json
Due: prettier --write

ci: renovate now uses platform automerge
  renovate.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.{md,json,jsonc,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
