Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Revert "build(deps-dev): bump chalk from 4.1.2 to 5.0.0"
  package.json
  yarn.lock
Due: prettier --write

chore: fix broken type import
  src/rules/prefer-tacit.ts
Due: prettier --write, eslint --fix

Revert "build(deps-dev): bump chalk from 4.1.2 to 5.0.0" (#329)
  package.json
  yarn.lock
Due: prettier --write

feat(no-throw-statement): add an option to allow throw statements within async functions
  docs/rules/no-throw-statement.md
  src/rules/no-throw-statement.ts
  src/util/tree.ts
  tests/rules/no-throw-statement/es7/index.ts
  tests/rules/no-throw-statement/es7/invalid.ts
  tests/rules/no-throw-statement/es7/valid.ts
  tests/rules/no-throw-statement/index.test.ts
Due: prettier --write, eslint --fix

feat(no-throw-statement): add an option to allow throw statements within async functions (#330)
  docs/rules/no-throw-statement.md
  src/rules/no-throw-statement.ts
  src/util/tree.ts
  tests/rules/no-throw-statement/es7/index.ts
  tests/rules/no-throw-statement/es7/invalid.ts
  tests/rules/no-throw-statement/es7/valid.ts
  tests/rules/no-throw-statement/index.test.ts
Due: prettier --write, eslint --fix

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6d7b9748abe487846e0290d2a5114430bf3f5b4a
Due: none

chore: use dependabot to update github actions
  .github/dependabot.yml
Due: prettier --write

ci: check prs have a semantic title
  .github/workflows/pr.yml
Due: prettier --write

refactor: refactor the code base and update linting rules
  .eslintrc.json
  cz-adapter/engine.ts
  cz-adapter/options.ts
  docs/rules/functional-parameters.md
  package.json
  src/common/ignore-options.ts
  src/configs/off.ts
  src/index.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-class.ts
  src/rules/no-conditional-statement.ts
  src/rules/no-expression-statement.ts
  src/rules/no-let.ts
  src/rules/no-loop-statement.ts
  src/rules/no-method-signature.ts
  src/rules/no-mixed-type.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expression.ts
  src/rules/no-throw-statement.ts
  src/rules/no-try-statement.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/util/misc.ts
  src/util/rule.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/common/ignore-options.test.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: refactor the code base and update linting rules (#318)
  .eslintrc.json
  cz-adapter/engine.ts
  cz-adapter/options.ts
  docs/rules/functional-parameters.md
  package.json
  src/common/ignore-options.ts
  src/configs/off.ts
  src/index.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-class.ts
  src/rules/no-conditional-statement.ts
  src/rules/no-expression-statement.ts
  src/rules/no-let.ts
  src/rules/no-loop-statement.ts
  src/rules/no-method-signature.ts
  src/rules/no-mixed-type.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expression.ts
  src/rules/no-throw-statement.ts
  src/rules/no-try-statement.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/util/misc.ts
  src/util/rule.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/common/ignore-options.test.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update eslint deps
  package.json
  yarn.lock
Due: prettier --write

chore: update semantic release deps
  package.json
  yarn.lock
Due: prettier --write

chore: update rollup deps
  package.json
  yarn.lock
Due: prettier --write

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

ci(dependabot automerge): increase check interval
  .github/workflows/dependabot-automerge.yml
Due: prettier --write

ci: allow typescript@next tests to fail
  .github/workflows/ci.yml
Due: prettier --write

style: fix linting issues
  package.json
  src/rules/no-conditional-statement.ts
  yarn.lock
Due: prettier --write, eslint --fix

build(deps): update deepmerge-ts
  package.json
  yarn.lock
Due: prettier --write

build: explicity state the release rules
  .releaserc
Due: none

chore(release): 4.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  3a3ea621c43df8b57810393426986a0d75ea9263
Due: none

chore: master => main
  .github/workflows/labels.yml
  .github/workflows/release.yml
  .releaserc
  README.md
Due: prettier --write

build: update yarn
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

ci: update ci for newer yarn
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore: repo updates
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

refactor: refactor the code base and update linting rules
  .eslintrc.json
Due: prettier --write

feat!(prefer-readonly-type-declaration): creation of new rule.
  .cspell.json
  README.md
  docs/rules/prefer-readonly-type-declaration.md
  docs/rules/prefer-readonly-type.md
  src/configs/all.ts
  src/configs/functional-lite.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/prefer-readonly-type-declaration.ts
  src/rules/prefer-readonly-type.ts
  src/util/rule.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/rules/prefer-readonly-type-declaration/index.test.ts
  tests/rules/prefer-readonly-type-declaration/ts/index.ts
  tests/rules/prefer-readonly-type-declaration/ts/invalid.ts
  tests/rules/prefer-readonly-type-declaration/ts/valid.ts
Due: prettier --write, eslint --fix

feat!(no-method-signature): deprecate rule in favor of prefer-readonly-type-declaration
  README.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/no-method-signature.ts
Due: prettier --write, eslint --fix

chore: update work test
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix

chore: setup new linting rule
  .eslintrc.json
Due: prettier --write

refactor: bring rule inline with other rules
  src/rules/prefer-readonly-type-declaration.ts
  src/util/rule.ts
  src/util/tree.ts
  src/util/typeguard.ts
Due: prettier --write, eslint --fix

fix: typos and tighten a sentence
  docs/rules/no-conditional-statement.md
Due: prettier --write

chore(release): 4.2.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  473171dce32654049250653dcdad34a3c99f957f
Due: none

Add logo files
  docs/assets/eslint-functional-logo.pdn
  docs/assets/eslint-functional-logo.png
Due: none

Update logo file
  README.md
Due: prettier --write

chore: repo fixups
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  .gitignore
  .yarnrc.yml
  CHANGELOG.md
  README.md
  package.json
  src/util/rule.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(prefer-tacit): add allowTypeParameters option to allow function calls that specify type params
  docs/rules/prefer-tacit.md
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts/valid.ts
Due: prettier --write, eslint --fix

ci: dependabot fix-lockfile - remove token
  .github/workflows/dependabot.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.{md,json,jsonc,yml}) or (any of: ./**/*.ts)
  eslint --fix: any of: ./**/*.ts
