Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "./**/*.{md,json,jsonc,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore(release): 4.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

ci: renovate now uses platform automerge
  renovate.json
Due: prettier --write

chore(renovate): make more silient
  renovate.json
Due: prettier --write

chore(renovate): disable auto updaing node types
  renovate.json
Due: prettier --write

style: use utf8 over utf-8
  scripts/compile-tests.ts
Due: prettier --write, eslint --fix

style: update styling and config for dep update
  .eslintrc.json
  cz-adapter/engine.ts
Due: prettier --write, eslint --fix

refactor: fix hasID and hasKey type guard types
  src/util/typeguard.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8ddd22aab0d045001afbe879c590a0731c147ffd
Due: none

ci: use npx to run semantic-release
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  854acbbd6b2e1b1bd8b8e0ae5409d141e3bab8ab
Due: none

ci: don't manually update yarn and use corepack
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

ci: ignore scripts when publishing
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  72fa96cea880d764ce818ce6270104870d578306
Due: none

chore: check spelling when linting staged files
  .lintstagedrc
Due: none

chore: move renovate config
  .github/renovate.json
Due: prettier --write

refactor: allow the functions that use the type checker to be more flexible
  src/util/rule.ts
Due: prettier --write, eslint --fix

refactor: alias common node type unions
  src/rules/functional-parameters.ts
  src/rules/no-class.ts
  src/rules/no-loop-statement.ts
  src/rules/no-return-void.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/util/node-types.ts
Due: prettier --write, eslint --fix

refactor: make getNodeIdentifierTexts avaliable to all rules
  src/common/ignore-options.ts
  src/util/misc.ts
Due: prettier --write, eslint --fix

build!: bump minimum supported version of node to 16.8
  .github/workflows/ci.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

build!: bump minimum supported version of TypeScript to 4.0.2
  package.json
Due: prettier --write

feat(enforce-type-declaration-immutableness): create rule
  package.json
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/enforce-type-declaration-immutableness.ts
  src/rules/index.ts
  src/util/node-types.ts
  src/util/rule.ts
  tests/rules/enforce-type-declaration-immutableness/index.test.ts
  tests/rules/enforce-type-declaration-immutableness/ts/index.ts
  tests/rules/enforce-type-declaration-immutableness/ts/invalid.ts
  tests/rules/enforce-type-declaration-immutableness/ts/valid.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci: let me not use semantic titles
  .github/workflows/pr.yml
Due: prettier --write

build: update lockfile
  yarn.lock
Due: none

fix(no-return-void): check additional ts function types
  src/rules/no-return-void.ts
  src/util/node-types.ts
Due: prettier --write, eslint --fix

chore(release): 4.3.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  5a84639acefdaa9c7375247f887199e1aad1b8c4
Due: none

Notes added by 'git notes add'
  3afba732c734b2add5bea7df16ee8cb1e8bda1d8
Due: none
